<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "together.css" />
</head>
<body>
<div class= "surveys">
    <h1>Welcome. Please tell us about yourself.</h1>
    <h5>Please note: all <em>student </em>responses are confidential. Student names and other identifying information are stored in a secure database, solely for the purpose of identification and authentication.</h5>
    <h3>Your first name:</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>submit</em></button>
    <h3>Your last name:</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>submit</em></button>
    <h3>Your email address:</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>submit</em></button>
    <h3>Create a unique username, of at least 3 characters, no spaces allowed:</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>submit</em></button>
    <h3>Create a unique password, of at least 3 characters, no spaces allowed:</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>submit</em></button>
    <br>
    <div class="order-button text-left">
        <a href="logIn.html" class="btn btn-primary">Create Profile</a>
    </div>
</div>
</body>
</html>