<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Feedback - Instructors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "together.css" />
</head>
<body>
<!-- <div class = "instructor-image"> -->
<img class="img-fluid" src="static/images/studentsSay.png">
<div class="surveys">
    <!-- <h1>About the most recent class...</h1> -->
    <h1>A reminder that you can't make everyone happy; you're not pizza! But you are encouraged to consider how this student feedback might inform future lesson(s):</h1>
    <table>
        <tr>
            <td>Pace of instruction</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Clarity of material</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Student comprehension</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Number of students responding</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Open responses - suggested improvements</td>
            <td>#</td>
        </tr>
    </table>
    <!-- <div class= "buttons">
        <div class= "buttons">
            <a href="feedbackResultsInstructor.html" class="btn btn-success">Get feedback</a>
    </div> -->
    <h1>Keep teaching for the future!</h1>
    <a href="instructorSurvey.html" class="btn btn-primary">Share Feedback</a>
    <a href="main.html" class="btn btn-success">Log Out</a>
</div>
</body>
</html>