<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Survey</title>
    <link rel = "stylesheet" type = "text/css" href = "together.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div>
    <h3>Please enter the name of the student you wish to share feedback with:</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>click here</em></button>
    <br>
    <br>
    <h3><strong>Please think specifically about this student's performance <em>over the past week</em> when answering the following questions.</strong></h3>
    <br>
    <h3>On a scale of 1 to 5, with 1 being "needs marked improvement," and 5 being "couldn't be better,"<br>(enter 8 for "don't know," or "not applicable,")</h3>
    <br>
    <h3><strong>How would you rate:</strong></h3>
    <br>
    <div class = "makeStuffHappen">
        <h3>The student's overall engagement and participation?</h3>
        <input id = "userInput" type = "text" />
        <button id = "pizza"><em>click here</em></button>
        <h3>The student's collaboration with others, and/ or initiative in taking on a leadership role?</h3>
        <input id = "userInput" type = "text" />
        <button id = "pizza"><em>click here</em></button>
        <h3>The student's apparent comprehension of course concepts over the past week?</h3>
        <input id = "userInput" type = "text" />
        <button id = "pizza"><em>click here</em></button>
        <h3>The student's progress overall this week?</h3>
        <input id = "userInput" type = "text" />
        <button id = "pizza"><em>click here</em></button>
    </div>
    <br>
    <div class="buttons">
        <a href="instructorSurvey.html" class="btn btn-primary">Submit and Continue to the next student</a>
        <a href="finalProject.html" class="btn btn-success">Submit and Finish</a>
        <a href="instructorFeedback.html" class="btn btn-primary">Submit and Continue to receive feedback</a>
    </div>
</div>
</body>
</html>