<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "together.css" />
</head>
<body>
<div class = "surveys">
    <h1>Welcome back!</h1>
    <h5>Reminder: all <em>student </em>responses are confidential. Student names and other identifying information are stored in a secure database, solely for the purpose of identification and authentication.</h5>
    <br>
    <h3>Please enter your username:
        <input id = "userInput" type = "text" />
        <button id = "pizza"><em>submit</em></button></h3>
    <h3>Please enter your password:
        <input id = "userInput" type = "text" />
        <button id = "pizza"><em>submit</em></button></h3>
    <br>
    <h3>Choose one:</h3>
    <a href="instructorSurvey.html" class="btn btn-primary">I am an instructor giving feedback</a>
    <a href="instructorFeedback.html" class="btn btn-success">I am an instructor receiving feedback</a>
    <br>
    <br>
    <a href="studentSurvey.html" class="btn btn-primary">I am a student giving feedback</a>
    <a href="studentFeedback.html" class="btn btn-success">I am a student receiving feedback</a>
</div>
</div>
</div>
</body>
</html>