<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Feedback -Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "together.css" />
</head>
<body>
<!-- <div class = "student-image"> -->
<img class="img-fluid" src="static/images/instructorSays.png">
<div class="surveys">
    <h1>Another week under your belt!</h1>
    <table>
        <tr>
            <td>Engagement and participation:</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Collaboration and leadership initiative:</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Comprehension:</td>
            <td>#</td>
        </tr>
        <tr>
            <td>Progress since last week:</td>
            <td>#</td>
        </tr>
    </table>
    <!-- <div class= "buttons">
        <a href="feedbackResultsStudent.html" class="btn btn-success">Get feedback</a>
    </div> -->
    <h1>You are encouraged to reach out to your instructor for more information, always! Be cool, stay in school!</h1>
    <a href="studentSurvey.html" class="btn btn-primary">Share Feedback</a>
    <a href="finalProject.html" class="btn btn-success">Log Out</a>
</div>
</body>
</html>