<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "together.css" />
</head>
<!--<form th:action="@{/cart}" th:object="${product}" method="post">-->
    <!--    <input type="hidden"  th:field="*{id}"/>-->
    <!--    <button type="submit" class="btn btn-primary">Add to-->
    <!--        Cart</button>-->
    <!--</form>-->
<body>
<form th:action="@{/users/username}" th:object="${surveyResponse}" method="post">
<h3>Please enter the name of the instructor you wish to share feedback with:</h3>
<input id = "userInput" type = "text" />
<button id = "pizza"><em>click here</em></button>
<br>
<br>
<h3><strong>Please think specifically about <em>the most recent lesson </em>when answering the following questions.</strong></h3>
<br>
<h3>On a scale of 1 to 5, with 1 being "needs marked improvement," and 5 being "couldn't be better,"<br>(enter 8 for "don't know," or "not applicable,")</h3>
<br>
<h3><strong>How would you rate:</strong></h3>
<br>
<div class = "makeStuffHappen">
    <h3>The overall pace of instruction?</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>click here</em></button>
    <br>
    <h3>The clarity of course material?</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>click here</em></button>
    <br>
    <h3>How well you feel you understand the material covered in the lesson?</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>click here</em></button>
    <br>
    <h3>What's one thing that might have improved the lesson for you?</h3>
    <input id = "userInput" type = "text" />
    <button id = "pizza"><em>click here</em></button>
    <br>
</div>
<br>
<div class="buttons">
    <a href="main.html" class="btn btn-success">Submit and Finish</a>
    <a href="studentFeedback.html" class="btn btn-primary">Submit and Get feedback</a>
</div>
</body>
</form>
</html>